<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title><%= nft.metadata.name.charAt(0).toUpperCase() + nft.metadata.name.slice(1) %> | Poke Trader</title>
  <link rel="icon" type="image/doge-icon" href="../../images/favicon-96x96.ico">

  <!-- Style sheets -->
  <link rel="stylesheet" href="../../css/styles.css">
  <link rel="stylesheet" href="../../css/nftCardEffects.css">
  <link rel="stylesheet" href="../../css/singleNFTStyle.css">
  <link rel="stylesheet" href="../../css/transactionHistory.css">

  <script src="../../js/transactionHistoryLoader.js"></script>
  <script src="../../js/web3-utils.js"></script>

  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

  <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
</head>
<body>
  <%- include("../partials/navbar") -%>
  <div class="scrollable-container main-container">
    <div class="vertical-stack col">
      <section class="row nft-detail-wrapper">
        <div class="nft-detail-left">
            <div class="nft-card enhanced-card">
                <div class="nft-img-wrapper">
                    <img src="<%= nft.metadata.image %>" alt="NFT Image">
                    <div class="nft-details">
                        <div class="nft-description"><strong>Type:</strong> <%= nft.metadata.description %></div>
                        <div class="nft-row">
                            <div><strong>Height:</strong> <%= nft.metadata.height %></div>
                            <div><strong>Weight:</strong> <%= nft.metadata.weight %></div>
                        </div>
                        <div class="nft-row">
                            <div><strong>hp:</strong> <%= nft.metadata.attributes["hp"] %></div>
                            <div><strong>speed:</strong> <%= nft.metadata.attributes["speed"] %></div>
                        </div>
                        <div class="nft-row">
                            <div><strong>defense:</strong> <%= nft.metadata.attributes["defense"] %></div>
                            <div><strong>attack:</strong> <%= nft.metadata.attributes["attack"] %></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="nft-detail-right">
          <h1 class="nft-title"><%= nft.metadata.name.charAt(0).toUpperCase() + nft.metadata.name.slice(1) %> #<%= nft.tokenId %></h1>
          <div class="nft-owner">Owned by <%= nft.owner %></div>

          <div class="nft-metrics">
            <span><i class='bx bx-show'></i> <%= nft.stats.views %> views</span>
            <span><i class='bx bx-heart'></i> <%= nft.stats.favorites %> favorites</span>
          </div>

          <% if (nft.isListed || nft.isOnAuction) { %>
            <div class="nft-sale-price-box">
              <div class="nft-sale-section">
                <% if (nft.isListed) { %>
                  <div class="nft-sale-header">Sale ends <span id="saleEndDate"><%= nft.listing.expiration %></span></div>
                <% } else { %>
                  <div class="nft-sale-header">Auction ends <span id="saleEndDate"><%= nft.auction.auction.endTimestamp %></span></div>
                <% } %>
                <div class="nft-sale-timer-grid">
                  <div><span id="hours" class="time-part">00</span><div class="time-label">Hours</div></div>
                  <div><span id="minutes" class="time-part">00</span><div class="time-label">Minutes</div></div>
                  <div><span id="seconds" class="time-part">00</span><div class="time-label">Seconds</div></div>
                </div>
                <div id="sale-ended-message" style="display: none;">Sale Ended</div>
              </div>
              <div class="divider-line"></div>
              <div class="nft-price-section">
                <% if (nft.isListed) { %>
                  <div class="nft-price-label">Current price</div>
                  <div class="nft-price-value">
                    <span><%= nft.priceETH %> ETH</span>
                    <% if (nft.priceUSD) { %>
                      <span class="usd-price">$<%= nft.priceUSD.toFixed(2) %></span>
                    <% } %>
                  </div>
                <% } else { %>
                  <div class="auction-price-container">
                    <div class="auction-price-item">
                      <div class="nft-price-label">Current Highest Bid</div>
                        <% if (nft.auction.hasBid) { %>
                          <div class="nft-price-value">
                            <span id="auction-highestBid"><%= nft.auction.highestBidETH %> ETH</span>
                            <% if (nft.auction.highestBidUSD) { %>
                              <span class="usd-price">$<%= nft.auction.highestBidUSD.toFixed(2) %></span>
                            <% } %>
                          </div>
                          <div class="nft-price-label">
                            <span id="auction-highestBidder">Bid by: <%= nft.auction.auction.highestBidder.slice(0, 6) + '...' + nft.auction.auction.highestBidder.slice(-4) %></span>
                          </div>
                        <% } else { %>
                          <div class="nft-price-value">
                            <span id="auction-highestBid">-</span>
                          </div>
                        <% } %>
                        
                    </div>
                    <div class="auction-price-item">
                      <div class="nft-price-label">Starting Price</div>
                      <div class="nft-price-value">
                        <span><%= nft.auction.startingPriceETH %> ETH</span>
                        <% if (nft.auction.startingPriceUSD) { %>
                          <span class="usd-price">$<%= nft.auction.startingPriceUSD.toFixed(2) %></span>
                        <% } %>
                      </div>
                    </div>
                  </div>
                <% } %>
              </div>
    
              <% if (nft.isOnAuction && nft.auction.hasEnded && nft.auction.hasBid) { %>
                <div class="finalize-auction-motivation">💸 Finalize auction now and earn 1% of the final bid!</div>
              <% } %>
              <div class="nft-sale-actions">
                <% if (nft.isOnAuction && nft.auction.hasEnded && nft.auction.hasBid) { %>
                  <button id="finalize-auction-btn" class="blue-btn half-width">Finalize Auction</button>
                <% } %>
                <% if (hasPendingReturns) { %>
                  <button id="withdraw-bid-btn" class="white-btn half-width">Withdraw Bid</button>
                <% } %>
                <% if (!isOwner) { %>
                  <% if (nft.isListed) { %>
                    <button id="buy-btn" class="blue-btn half-width" data-price="<%= nft.listing.price %>">Buy now</button>
                  <% } else if (nft.isOnAuction && !nft.auction.hasEnded) { %>
                    <button id="place-bid-btn" class="blue-btn half-width">Place Bid</button>
                  <% } %>
                  <% if (!hasActiveOffer) { %>
                    <button id="offer-btn" class="white-btn half-width">Make offer</button>
                  <% } else { %>
                    <button id="withdraw-offer-btn" class="white-btn half-width">Withdraw offer</button>
                  <% } %>
                <% } else { %>
                  <% if (nft.isListed) { %>
                    <button id="delistNFTbtn" class="white-btn half-width">Delist NFT</button>
                  <% } else if (nft.isOnAuction && (!nft.auction.hasEnded || !nft.auction.hasBid)) { %>
                      <button id="cancelAuctionBtn" class="white-btn half-width">Cancel Auction</button>
                  <% } %>
                <% } %>
              </div>
            </div>

            <!-- Auction History Section -->
            <% if (nft.isOnAuction) { %>
              <%- include("sections/auctionHistorySection") -%>
            <% } %>
            
          <% } else if (isOwner) { %>
            <div class="nft-sale-actions">
              <% if (!nft.isListed) { %>
                  <button id="listNFTbtn" class="blue-btn">List NFT</button>
                  <button id="startAuctionBtn" class="blue-btn">Start Auction</button>
              <% } else { %>
                  <button id="delistNFTbtn" class="blue-btn">Delist NFT</button>
              <% } %>
              <% if (hasPendingReturns) { %>
                <button id="withdraw-bid-btn" class="white-btn">Withdraw Bid</button>
              <% } %>
            </div>
          <% } else { %>
            <div class="nft-sale-actions">
              <% if (!hasActiveOffer) { %>
                <button id="offer-btn" class="blue-btn">Make offer</button>
              <% } else { %>
                <button id="withdraw-offer-btn" class="blue-btn">Withdraw offer</button>
              <% } %>
            </div>
          <% } %>

          <!-- Offers Section -->
          <%- include("sections/offersSection") -%>
        </div>
      </section>

      <!-- Transactions Section -->
       <div class="transactions-section-container">
        <%- include("sections/transactionsSection", {type: "single"}) -%>
       </div>
    </div>
  </div> <!-- close vertical-stack -->
</div> <!-- close scrollable-container -->

  <!-- Status Popup -->
  <%- include("../partials/statusPopup") -%>

  <!-- Approval Popup -->
  <%- include("popups/approvalPopup") -%>

  <!-- Listing Popup -->
  <%- include("popups/listingPopup") -%>

  <!-- Auction Popup -->
  <%- include("popups/auctionPopup") -%>

  <!-- Place Bid Popup -->
  <%- include("popups/placeBidPopup") -%>

  <!-- Offer Popup -->
  <%- include("popups/offerPopup") -%>

  <!-- Scripts -->
  <script>
    const tokenId = "<%= nft.tokenId %>";
    const tradingAddress = "<%= tradingContractAddress %>";
    const tradingABI = JSON.parse(`<%- JSON.stringify(tradingContractABI) %>`);
    
    const userAddress = "<%= nft.owner %>";
    const nftContractAddress = "<%= nftContractAddress %>";
    const nftContractABI = JSON.parse(`<%- JSON.stringify(nftContractABI) %>`); 

    loadTransactionHistory("single");
    loadTokenOffers("<%= isOwner %>");
    loadAuctionHistory("<%= nft.isOnAuction %>", "<%= nft.isOnAuction ? nft.auction.startingPriceETH : 0 %>")

    setTimeout(() => {
      setupListNFTHandler();
      setupBuyNFTHandler();
      setupOfferNFTHandler(); 
      setupAuctionNFTHandler();  
    }, 100);
     

    const offerBtn = document.getElementById("offer-btn");
    const closeOfferPopupBtn = document.getElementById("close-offer-popup");

    if (offerBtn) {
      offerBtn.addEventListener("click", () => {
        document.getElementById("offer-popup").style.display = "flex";
      });
    }
    if (closeOfferPopupBtn) {
      closeOfferPopupBtn.addEventListener("click", () => {
        document.getElementById("offer-popup").style.display = "none";
      });
    }
  </script>

  <script src="../../js/singleNFTTimer.js"></script>
  <script src="../../js/nftCardEffects.js"></script>
  <script src="../../js/navbar.js"></script>
</body>
</html>
