<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My NFT's | Poke Trader</title>
    <link rel="icon" type="image/doge-icon" href="../images/favicon-96x96.ico">


    <!-- CSS -->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/myNFTs.css">
    <link rel="stylesheet" href="../css/horizontalNFTPresenter.css">
    <link rel="stylesheet" href="../css/nftCardEffects.css">
    <link rel="stylesheet" href="../css/transactionHistory.css">

    <script src="../js/transactionHistoryLoader.js"></script>

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <%- include("partials/navbar") -%>

    <section class="main-container home">
        <div class="main-content-wrapper">
            <div class="text">My NFT's</div>

    <!-- ---------------- -->
    <!-- Overview Section -->
            <div class="balance">
                <div class="balance-card">
                    <div class="balance-header">Currently for Sale</div>
                    <div><%= currentlyForSale %></div>
                </div>
                <div class="balance-card middle">
                    <div class="balance-header">Owned NFTs</div>
                    <div><%= nfts.length %></div>
                </div>
                <div class="balance-card">
                    <div class="balance-header">Total Value</div>
                    <div>
                        <%= parseFloat(totalValueETH.toFixed(4)).toString() %> ETH ($<%= parseFloat(totalValueUSD.toFixed(2)).toString() %>)
                    </div>
                </div>
            </div>

            <div class="spacer"></div>


    <!-- ------------ -->
    <!-- NFTs Section -->
            <div class="nft-carousel-wrapper">
                <div class="nft-scroll-container">
                    <% nfts.forEach(nft => { %>
                        <a href="/nft/<%= nft.tokenId %>" class="nft-link" style="text-decoration: none;">
                            <div class="nft-card enhanced-card">
                                <div class="nft-img-wrapper">
                                    <img src="http://localhost:3000/api/ipfs/<%= nft.image %>" alt="NFT Image" />
                                    <div class="nft-details">
                                        <h2 class="nft-name"><%= nft.name.charAt(0).toUpperCase() + nft.name.slice(1) %></h2>
                                        <div class="nft-description"><strong>Type:</strong> <%= nft.description %></div>
                                        <div class="nft-row">
                                            <div><strong>Height:</strong> <%= nft.height %></div>
                                            <div><strong>Weight:</strong> <%= nft.weight %></div>
                                        </div>
                                        <div class="nft-row">
                                            <div><strong>hp:</strong> <%= nft.attributes["hp"] %></div>
                                            <div><strong>speed:</strong> <%= nft.attributes["speed"] %></div>
                                        </div>
                                        <div class="nft-row">
                                            <div><strong>defense:</strong> <%= nft.attributes["defense"] %></div>
                                            <div><strong>attack:</strong> <%= nft.attributes["attack"] %></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    <% }) %>
                    </div>
                </div>
            </div>
            
            <!-- Transactions Section -->
            <%- include("singleNft/sections/transactionsSection", {type: "address"}) -%>
            
            <div class="spacer"></div>
        </div>
    </section>

    <!--JavaScript-->
    <script>
        const userAddress = "<%= userAddress %>";

        loadTransactionHistory("address");
    </script>

    <script src="../js/navbar.js"></script>
    <script src="../js/web3/web3-utils.js"></script>
    <script src="../js/nftCardEffects.js"></script>
</body>
</html>
