<a href="/nft/<%= nft.tokenId %>" class="nft-link" style="text-decoration: none;">
    <div class="nft-card enhanced-card">
        <div class="nft-img-wrapper">
            <img src="<%= nft.metadata.image %>" alt="NFT Image">
            <div class="nft-details">
                <h2 class="nft-name"><%= nft.metadata.name.charAt(0).toUpperCase() + nft.metadata.name.slice(1) %></h2>
                <div class="nft-row">
                    <% if (isAuction) { %>
                        <div class="nft-row-full"><strong>Highest Bid:</strong> <%= nft.priceETH + " ETH" %></div>
                    <% } else { %>
                        <div class="nft-row-full"><strong>Price:</strong> <%= nft.priceETH + " ETH" %></div>
                    <% } %>
                </div>
                <div class="nft-row">
                    <% if (nft.priceUSD) { %>
                        <div class="nft-row-full">
                            <strong>USD:</strong> 
                            <span>
                                <% if (typeof nft.priceUSD === 'number') { %>
                                    $<%= nft.priceUSD.toFixed(2) %>
                                <% } else { %>
                                    -
                                <% } %>
                            </span>
                        </div>
                    <% } %>
                </div>
                <% if (nft.expiry) { %>
                    <div class="nft-row countdown" data-expiration="<%= nft.expiry %>">
                        <% if (isAuction) { %>
                            <div class="nft-row-full"><strong>Ends in:</strong> <span class="time-remaining">Loading...</span></div>
                        <% } else { %>
                            <div class="nft-row-full"><strong>Expires in:</strong> <span class="time-remaining">Loading...</span></div>
                        <% } %>
                    </div>
                    <div class="nft-row nft-row-full expiration-date">
                        <div class="nft-row-full">
                            <strong>End Date:</strong> <span class="end-date-text">
                                <%= new Date(Number(nft.expiry) * 1000).toLocaleString(undefined, {
                                    year: 'numeric',
                                    month: '2-digit',
                                    day: '2-digit',
                                    hour: '2-digit',
                                    minute: '2-digit'
                                  }).replace(/(\d{2})[\/.-](\d{2})[\/.-](\d{4}),? ?(\d{2}:\d{2}) ?(AM|PM)?/, (match, d, m, y, t, ap) => {
                                    return `${d}.${m}.${y}, ${t}${ap ? ' ' + ap : ''}`;
                                  }); %>
                            </span>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</a>